<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<body>

  <header class="ui inverted menu">
    <div class="ui container">
      <a href="/" class="header item">
        <img class="logo" src="{{ site.logo }}"> {{ site.title }}
      </a>
      <div class="right menu">
        {% for page in site.pages %} {% if page.title %}
        <a class="item" href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a>
        {% endif %} {% endfor %}
      </div>
  </header>

  <main class="ui container">{{ content }}</main>

</body>

</html>